/* Box Model Hack */
* {
    box-sizing: border-box;
    color: white;
    /* outline: 1px solid red; */
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
    clear: both;
}
body {
    background-color: #14365d;
}

/******************************************
/* BASE STYLES
/*******************************************/

.main {
    width: 90%;
    margin: auto;
    padding: 3rem;
    /* border: 1px solid #000; */
    margin: 2rem auto;
    border-radius: 10px;
    background-color: #2f5c8f;
}

.top,
.bottom {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid black; */
}
.topright {
    width: 80%;
    padding: 1em;
}
label {
    display: block;
}
.topright p {
    font-size: 1.3rem;
}
h1 {
    text-align: center;
}

#content {
    width: 200px;
    /* border: 1px solid black; */
    border-top: 0;
    border-left: 0;
    font-size: 20px;
    text-align: center;
    padding: 20px;
    user-select: none;
}

#clickarea {
    width: 200px;
    height: 500px;
    /* border: 2px solid #000; */
    border-top: 0;
    font-size: 20px;
    text-align: center;
    padding: 20px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.2);
}
select,
option {
    color: black;
}

#start {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(
        to top left,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2) 30%,
        rgba(0, 0, 0, 0)
    );
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
        inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}
#ready {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(0, 0, 220, 1);
    background-image: linear-gradient(
        to top left,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2) 30%,
        rgba(0, 0, 0, 0)
    );
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
        inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

#start:hover {
    background-color: rgba(255, 0, 0, 1);
}
#ready:hover {
    background-color: rgba(0, 0, 255, 1);
}

#start:active,
#ready:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6),
        inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}
.chart {
    width: 70%;
    height: 500px;
}
/* .myChart {
    width: 90%;
    height: 90%;
} */

/* *{
       outline: 1px solid red;
     } */

@media only screen and (max-width: 800px) {
    .top,
    .bottom {
        flex-direction: column;
        align-items: center;
    }
    .chart {
        width: 100%;
    }
    #clickarea {
        width: 100%;
        height: 100px;
        /* background-color: rgba(0, 0, 0, 0.2); */
    }
    .topright {
        width: 100%;
    }
    #content {
        border: none;
    }
    .main {
        padding: 0;
        width: 98%;
    }
    body {
        padding: 0;
    }
}
